* {
  margin: 0;
}

.app {
  background-image: url("https://images.unsplash.com/photo-1603251870155-b27b7fd787c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}

.banner {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: small;
}

.container__left {
  width: 50vw;
}

.container__right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.payoption__container {
  display: flex;
  color: gray;
  font-size: 0.8rem;
}

article {
  display: flex;
}

.app .container__right > .MuiSvgIcon-root {
  color: #868e96;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: font 0.3s ease-out;
}

.app .container__right > .MuiSvgIcon-root:hover {
  color: black;
  font-size: 2rem;
  transition: font 0.3s ease-in;
}
