@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

header {
  position: absolute;
  display: flex;
  flex: 1;
  height: 2rem;
}

.payoption__container {
  display: flex;
  color: gray;
  font-size: 0.8rem;
  margin: 2rem 3rem;
}

.payoption__container > .payoption__container1 {
  margin-right: 1rem;
}

.payoption__container > .payoption__container2 {
  font-size: 0.6rem;
  font-weight: 900;
  font-style: normal;
  margin-top: 0.3rem;
  font-family: "Rubik", sans-serif;
}

.payoption__container > .payoption__container3 .MuiSvgIcon-root {
  font-size: 1rem;
  margin-top: 0.16rem;
  cursor: pointer;
}
