.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main h1 {
  font-size: small;
  margin-left: 4rem;
  margin-top: 8rem;
  font-weight: 400;
}

.main h2 {
  font-size: 3rem;
  margin-left: 4rem;
  margin-top: 3rem;
  line-height: 0.5rem;
}

button {
  width: 140px;
  height: 35px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: lightgray;
  margin-top: 2rem;
  margin-left: 4rem;
}
