@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main h1 {
  font-size: small;
  margin-left: 4rem;
  margin-top: 8rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.main h2 {
  font-size: 3rem;
  margin-left: 4rem;
  margin-top: 3rem;
  line-height: 0.5rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

button {
  width: 140px;
  height: 35px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: lightgray;
  margin-top: 3rem;
  margin-left: 4rem;
  font-family: "Rubik", sans-serif;
}
